.example-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.hr-div {
    height: 1px;
    background: gray;
}

// mat-drawer-content {
//     padding: 12px;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
// }